/simciv/Debug
/Debug/simciv.exe
/Debug/simciv.ilk
/Debug/simciv.pdb
/ipch/simciv-9658b3eb/simciv-b628fc37.ipch
/simciv.opensdf
/simciv.sdf
/simciv.v11.suo
/simciv/simciv.vcxproj.user
/Release/simciv.exe
/Release/simciv.pdb
/simciv/Release
/ipch
